body {
    background-color: #000;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
    padding: 20px;
    justify-content: center;
}

.card-header img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 2px solid #fff;
}

.banner img {
    width: 100%;
    max-height: 700px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 40px;
}

.servicos {
    margin-top: 50px;
    width: 90%;
}

.fotos {
    width: 65%;
    margin-top: 50px;
    margin-left: 18%;
}

.fotos img {
    width: 100%;
    border-radius: 10px;
}

.card {
    background-color: #1a1a1a;
    color: white;
    border: none;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.05);
    margin-bottom: 30px;
    border-radius: 10px;
}

.card-body {
    padding: 15px;
}

.agendamento {
    margin: 60px auto;
    text-align: center;
}

.btn-danger {
    background-color: #e50914;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 30px;
    margin-top: 15px;
    transition: 0.3s;
    text-decoration: none;
    color: white;
}

.btn-danger:hover {
    background-color: #ff1f2c;
    transform: scale(1.05);
}

.servicos {
    margin-left: 8.5%;
    margin-bottom: 50px;
}

.servicos h2 {
    color: red;
    font-size: 1.1rem;
}

.resumo {
    margin-top: 70px;
    margin-left: 20%;
    width: 60%;
}